#include "winresrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

setup.ico               RCDATA "..\\..\\header\\res\\setup.ico"
header32                RCDATA "..\\..\\output\\header32.exe"
header32_elevated       RCDATA "..\\..\\output\\header32_elevated.exe"
header32_cab            RCDATA "..\\..\\output\\header32_cab.exe"
header32_cab_elevated   RCDATA "..\\..\\output\\header32_cab_elevated.exe"
header32_zpaq           RCDATA "..\\..\\output\\header32_zpaq.exe"
header32_zpaq_elevated  RCDATA "..\\..\\output\\header32_zpaq_elevated.exe"
header64                RCDATA "..\\..\\output\\header64.exe"
header64_elevated       RCDATA "..\\..\\output\\header64_elevated.exe"
header64_cab            RCDATA "..\\..\\output\\header64_cab.exe"
header64_cab_elevated   RCDATA "..\\..\\output\\header64_cab_elevated.exe"
header64_zpaq           RCDATA "..\\..\\output\\header64_zpaq.exe"
header64_zpaq_elevated  RCDATA "..\\..\\output\\header64_zpaq_elevated.exe"
