#include "resource.h"
#include "winresrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SETUP1              ICON    DISCARDABLE     "..\\res\\setup.ico"
IDI_ICON1               ICON    DISCARDABLE     "..\\res\\icon1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_INTRO               BITMAP  DISCARDABLE     "..\\res\\intro.bmp"
IDB_BITMAP1             BITMAP  DISCARDABLE     "..\\res\\box.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TEMPLATE DIALOGEX 0, 0, 331, 222
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | DS_CONTEXTHELP | WS_POPUP |
    WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT
CAPTION "FreeExtractor"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "< Back",IDC_BACK,166,201,50,14
    DEFPUSHBUTTON   "Next >",IDC_NEXT,216,201,50,14
    PUSHBUTTON      "Cancel",IDC_CANCEL,274,201,50,14
    CONTROL         "",IDC_BOTTOMFRAME,"Static",SS_ETCHEDHORZ,0,192,335,1
    CONTROL         "",IDC_BANNER,"Static",SS_SIMPLE | WS_GROUP,13,7,258,8,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_SUBBANNER,"Static",SS_SIMPLE | WS_GROUP,29,17,242,
                    10,WS_EX_TRANSPARENT
    CONTROL         "",IDC_TOPFRAME,"Static",SS_ETCHEDHORZ,0,37,335,1
END

IDD_SPLASH DIALOGEX 0, 0, 335, 192
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "FreeExtractor Wizard",IDC_FENAME,117,7,207,13,0,
                    WS_EX_TRANSPARENT
    LTEXT           "",IDC_VERSION_DATE,118,19,207,8,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_INTROTEXT,118,34,208,57,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_URL,133,95,193,10,
                    SS_NOTIFY,WS_EX_TRANSPARENT
    LTEXT           "Click 'Next' to continue.",IDC_CLICKNEXT,118,174,207,11,
                    0,WS_EX_TRANSPARENT
END

IDD_ZIPFILE DIALOGEX 0, 0, 276, 135
STYLE DS_LOCALEDIT | DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_INIPATH,0,36,213,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_STATICEDGE
    PUSHBUTTON      "O&pen",IDC_OPENINI,218,35,57,14
    EDITTEXT        IDC_ZIPPATH,0,66,213,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_STATICEDGE
    PUSHBUTTON      "&Open",IDC_OPEN,218,65,57,14
    EDITTEXT        IDC_EXEOUT,0,96,276,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_STATICEDGE
    LTEXT           "Presets INI file:",IDC_INILABEL,0,28,52,8
    LTEXT           "Source ZIP file:",IDC_ZIPLABEL,0,58,52,8
    LTEXT           "Output EXE:",IDC_OUTLABEL,0,88,42,8
    LTEXT           "You may either click 'Open' and select a .zip or .ini file, or you may drag-and-drop them from Windows. The source .zip file will not be modified.",
                    IDC_TEXT,0,0,276,21
END

IDD_OPTIONS DIALOGEX 0, 0, 276, 135
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "These settings will be displayed on your self-extractor's splash screen. While optional, they are recommended for the benefit of your end-users.",
                    IDC_TEXT,0,0,276,17
    LTEXT           "Archive Name",IDC_NAMELABEL,0,22,46,8
    EDITTEXT        IDC_PACKAGENAME,0,30,276,12,ES_AUTOHSCROLL | NOT
                    WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "Website Address",IDC_WEBSITELABEL,0,46,54,8
    EDITTEXT        IDC_URL,0,54,276,12,ES_AUTOHSCROLL | NOT WS_BORDER,
                    WS_EX_STATICEDGE
    LTEXT           "Introduction Message",IDC_INTROLABEL,0,70,69,8
    EDITTEXT        IDC_INTROTEXT,0,78,276,57,ES_MULTILINE | ES_WANTRETURN |
                    NOT WS_BORDER | WS_VSCROLL,WS_EX_STATICEDGE
END

IDD_ADVOPTIONS DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "The following options allow you to further customize this self-extractor. These options are intended primarily for software distribution and are all optional.",
                    IDC_TEXT,0,0,275,20
    CONTROL         "&Run as administrator",IDC_RUNELEVATED,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,0,21,120,10
    CONTROL         "R&un in 64 bit subsystem",IDC_SUBSYSTEM64,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,0,35,267,10
    CONTROL         "&Automatically extract to default path",IDC_AUTOEXTRACT,
                    "Button",BS_AUTO3STATE | WS_TABSTOP,0,49,267,10
    CONTROL         "&Open Destination Folder in Windows Explorer when completed",
                    IDC_OPENFOLDER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,0,
                    63,267,10
    LTEXT           "Default &Extraction Path (optional)",IDC_PATHLABEL,0,
                    76,267,8
    EDITTEXT        IDC_DEFAULT_EXTRACTION_PATH,0,85,267,13,ES_AUTOHSCROLL |
                    NOT WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "E&xecute when completed",IDC_EXECLABEL,0,103,267,8
    EDITTEXT        IDC_EXEC,0,111,267,13,ES_AUTOHSCROLL | NOT WS_BORDER,
                    WS_EX_STATICEDGE
    CONTROL         "&Delete extracted files when program finishes",
                    IDC_DELETEFILES,"Button",BS_AUTOCHECKBOX | WS_DISABLED |
                    WS_TABSTOP,10,126,257,10
    LTEXT           "OS &Version:",IDC_TARGETVERLABEL,190,21,45,8
    COMBOBOX        IDC_TARGETVER,235,19,32,200,CBS_DROPDOWNLIST | WS_TABSTOP
END

IDD_CONFIRM DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Per your settings, this self-extractor will perform the following actions:",
                    IDC_TEXT,0,1,275,8
    LTEXT           "If this is correct, click 'Next' and your self extractor will be built. If you would like to change these settings, click 'Back' and make any nessessary changes.",
                    IDC_TEXT2,0,119,275,16
    EDITTEXT        IDC_CONFIRMMESSAGE,10,13,256,95,ES_MULTILINE |
                    ES_READONLY | NOT WS_BORDER | WS_VSCROLL | NOT
                    WS_TABSTOP,WS_EX_STATICEDGE
END

IDD_PROGRESS DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Your self-extractor is being built. Please wait.",
                    IDC_TEXT,0,0,275,22
    LTEXT           "",IDC_PROGRESS,38,30,233,8
    LTEXT           "Status:",IDC_STATUSLABEL,10,30,23,8
END

IDD_FINISHED DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "E&xecute Self-Extracting Archive",IDC_EXECUTE,10,39,121,
                    14
    LTEXT           "FreeExtractor has successfully created your self-extracting archive. It is recommend that you test this archive before you redistribute it.",
                    IDC_TEXT,0,1,275,21
    CONTROL         "Save these settings as my default responses in the future.",
                    IDC_SAVESETTINGS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,0,
                    126,275,10
END

IDD_SHORTCUT DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "List1",IDC_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT |
                    WS_BORDER | WS_TABSTOP,0,9,276,103
    LTEXT           "Click 'Add' to have your self-extractor create a shortcut. Click 'Next' to continue.",
                    IDC_TEXT,0,0,275,8
    PUSHBUTTON      "&Add",IDC_ADD_SC,166,122,50,14
    PUSHBUTTON      "&Remove",IDC_REMOVE_SC,226,122,50,14,WS_DISABLED
END

IDD_ICON DIALOGEX 0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "&Select New Icon",IDC_NEWICON,10,89,121,14
    LTEXT           "You may change the icon for your self-extracting archive. If you do not select an icon, FreeExtractor will provide a default one for you.\n\nThe icon you choose must be a 2,238 byte, 32x32x256 color icon. ",
                    IDC_TEXT,0,1,275,34
END

IDD_ADDSHORTCUT DIALOG DISCARDABLE  0, 0, 258, 140
STYLE DS_MODALFRAME | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "Add a shortcut"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,139,119,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,201,119,50,14
    LTEXT           "Specify where you would like to create the shortcut, and where the shortcut should point to. For each, you may include path variables. See the included documentation for more information.",
                    IDC_MAINTEXT,7,7,244,26
    LTEXT           "Shortcut Location",IDC_SHORTCUTLABEL,7,36,244,8
    LTEXT           "Shortcut Target",IDC_TARGETLABEL,7,72,244,8
    EDITTEXT        IDC_SCLOCATION,7,44,244,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_SCTARGET,7,81,244,14,ES_AUTOHSCROLL
    LTEXT           "Example: $desktop$\\My Program.lnk",IDC_LOCATIONEXAMPLE,
                    18,59,233,8
    LTEXT           "Example: $targetdir$\\program.exe",IDC_TARGETEXAMPLE,18,
                    96,233,8
END

IDD_ABOUT DIALOGEX 34, 22, 203, 105
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About FreeExtractor"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "",IDC_TITLE,40,12,158,8
    LTEXT           "Copyright © 2000-2024 Andrew Fawcett and contributors.\n\nFreeExtractor is free and open source.",
                    IDC_TEXT,40,24,158,43
    DEFPUSHBUTTON   "OK",IDOK,143,84,49,14,WS_GROUP
    LTEXT           "",IDC_URL,40,73,158,8,SS_NOTIFY
END


/////////////////////////////////////////////////////////////////////////////
//
// Data
//

setup.ico               RCDATA "..\\..\\header\\res\\setup.ico"
header32                RCDATA "..\\..\\output\\header32.exe"
header32_elevated       RCDATA "..\\..\\output\\header32_elevated.exe"
header32_cab            RCDATA "..\\..\\output\\header32_cab.exe"
header32_cab_elevated   RCDATA "..\\..\\output\\header32_cab_elevated.exe"
header32_zpaq           RCDATA "..\\..\\output\\header32_zpaq.exe"
header32_zpaq_elevated  RCDATA "..\\..\\output\\header32_zpaq_elevated.exe"
header64                RCDATA "..\\..\\output\\header64.exe"
header64_elevated       RCDATA "..\\..\\output\\header64_elevated.exe"
header64_cab            RCDATA "..\\..\\output\\header64_cab.exe"
header64_cab_elevated   RCDATA "..\\..\\output\\header64_cab_elevated.exe"
header64_zpaq           RCDATA "..\\..\\output\\header64_zpaq.exe"
header64_zpaq_elevated  RCDATA "..\\..\\output\\header64_zpaq_elevated.exe"
