#include "resource.h"
#include "winresrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TEMPLATE DIALOGEX 0, 0, 331, 222
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "",IDC_BOTTOMFRAME,-6,188,341,1000,WS_DISABLED,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_TOPFRAME,"Static",SS_ETCHEDHORZ,0,37,335,1
    PUSHBUTTON      "< Back",IDC_BACK,166,201,50,14,0
    DEFPUSHBUTTON   "Next >",IDC_NEXT,216,201,50,14,0
    PUSHBUTTON      "Cancel",IDC_CANCEL,274,201,50,14,0
    CONTROL         "",IDC_BANNER,"Static",SS_SIMPLE,13,7,258,8,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_SUBBANNER,"Static",SS_SIMPLE,29,17,242,10,
                    WS_EX_TRANSPARENT
END

IDD_SPLASH DIALOGEX 0, 0, 331, 193
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_INTROBANNER,"Static",SS_SIMPLE | SS_NOPREFIX |
                    WS_GROUP,117,7,213,16,WS_EX_TRANSPARENT
    LTEXT           "",IDC_SUBBANNER,118,30,208,141,SS_NOPREFIX,
                    WS_EX_TRANSPARENT
    LTEXT           "",IDC_URL,118,176,207,10,SS_NOTIFY,WS_EX_TRANSPARENT
END

IDD_PATH DIALOG DISCARDABLE  0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Choose the folder you would like to extract these files to. If it does not exist, it can be created for you.",
                    IDC_TEXT,0,0,275,22,0x40
    EDITTEXT        IDC_EXTRACTPATH,0,41,275,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse",IDC_GLYPHBROWSE,225,59,50,14
    CONTROL         "&Create this directory if it does not exist",
                    IDC_AUTOCREATEDIR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    0,126,156,10
END

IDD_PROGRESS DIALOG DISCARDABLE  0, 0, 276, 136
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Please wait while the files in this archive are extracted.",
                    IDC_TEXT,0,0,275,21
    CONTROL         "",IDC_PROGRESSBAR,"msctls_progress32",
                    PBS_SMOOTH,0,45,275,12
    LTEXT           "",IDC_STATUS,0,36,275,8,SS_PATHELLIPSIS
END

IDD_ABOUT DIALOGEX 34, 22, 203, 105
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About FreeExtractor"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "",IDC_TITLE,40,12,158,8
    LTEXT           "Copyright © 2000-2024 Andrew Fawcett and contributors.\n\nFreeExtractor is free and open source.",
                    IDC_TEXT,40,24,158,43
    DEFPUSHBUTTON   "OK",IDOK,143,84,49,14,WS_GROUP
    LTEXT           "",IDC_URL,40,73,158,8,
                    SS_NOTIFY
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_INTRO               BITMAP  DISCARDABLE     "..\\res\\intro.bmp"
IDB_BITMAP1             BITMAP  DISCARDABLE     "..\\res\\box.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SETUP1              ICON    DISCARDABLE     "..\\res\\setup.ico"
